/* ---------------Some external resourse for our project --------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Luxurious+Roman&family=Merriweather:ital@1&family=Roboto:wght@500&display=swap');
/* ---------------Some external resourse for our project::End --------------------- */

/*------------------- Complementory part of our project:: BODY-------------------- */
body {
      font-family: 'Lobster', cursive;
      font-family: 'Luxurious Roman', cursive;
      font-family: 'Merriweather', serif;
      font-family: 'Roboto', sans-serif;

      background: #ffffff;
}

/*------------------- Complementory part of our project:: BODY::EnD---------------- */

/* Header Styles:: Start.. */
header {
      width: 80%;
      margin: 0 auto;
}

.upper-header {
      display: flex;

}

.logo-section {
      font-size: 0.8em;

}

span {
      font-size: 10px;
      padding-bottom: 105px;
}

.nav-section {
      display: flex;
      flex-direction: row;
}

.nav-section ul {
      display: flex;
}

.nav-section ul li {
      display: flex;
      padding-left: 60px;
      margin-left: 20px;
      margin-top: 10px;

}

.nav-section ul li a {
      text-decoration: none;
      justify-content: ;
}

.marketing-line {
      width: 50%;
      font-size: 1.7em;
      color: #3A3A3A;
}

strong {
      color: lightskyblue;

}

p {
      text-align: center;
      word-wrap: normal;
      font-size: 15px;
}

button {
      font-size: 0.8em;
      width: 196px;
      height: 44px;
      left: 120px;
      top: 511px;
      padding: 7px 24px;
      background: #E02C6D;
      border-radius: 15px;
}

.fas {
      margin-left: 22px;
}

.banner-part {
      display: flex;

}

.banner-img {
      margin-left: 190px;
}

.banner-img img {
      width: 100%;
}

hr {
      margin: 40px 0 1px 0px;
}

.company-logos {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
}

/* Header Styles:: End.. */

/* Main Styles::Start */
.top-main {
      text-align: center;
      margin: 121px 0px 42px 3px;
}

.card {

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-left: 150px;
      width: 70%;
      padding: 10;

}

.card .card-iteam img {
      margin: 12px 10px 11px 10px;
}

.card-iteam {
      top: 1541px;
      box-shadow: 0px 0px 40px #eee;
      border-radius: 15px;
      padding: 10px;
}
}

h2 {
      font-size: 2em;

}

.p-name {
      margin-left: 21px
}

h3 {
      font-size: 1.7em;
      margin-left: 21px;
      margin-bottom: 30px;
}

.card-icon {
      font-size: 12px;
      display: flex;
      align-items: center;
      color: goldenrod;
}



h5 {
      font-size: 12px;
      margin-left: 25px;
}

#rating {
      color: #5E6366;
}

article {
      margin-left: 20px;
      margin-bottom: 20px;
}

.next-pg-pd {
      margin-left: 1200px;
      color: lightslategrey;
}


/* Main Styles::End */

/* Gear :: Start */
.gear-information {
      display: flex;
      justify-content: center;
      margin-top: 150px;

}

.gear img {
      width: 426px;
      margin-left: 35px;

}

.gear-details {
      margin-left: 513px;
      padding-right: 154px;
      width: 250px;
      height: 450px;
}

/* Gear :: End */


/* footer */
footer {
      background-color: midnightblue;
      color: whitesmoke;
}

.copyright h2,
h6 {
      margin-left: 48%;
}

.gear-info {
      margin-left: 48%;
}
}

.social-icon {
      margin-left: 48%;
}

.fab {
      padding-left: 10px;
}